.floating-text {
  position: absolute;
  padding: 10px;
  border:1px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 20%; /* starting position, slightly left */
  z-index: 10;
  color: black;
  font-weight: bold;
  font-size: 0.875rem; /* text-sm */
  transform: translate(-50%, -50%) rotate(-45deg); /* initial rotation */
  animation: bounce-horizontal 1s infinite ease-in-out;
}

@keyframes bounce-horizontal {
  0%, 100% { transform: translate(-50%, -50%) rotate(-45deg); }
  50% { transform: translate(-45%, -45%) rotate(-45deg); } /* moves slightly right */
}
